<div>
    <div class="navbar bg-slate-900">
        <div class="flex-1">
            <span class="normal-case text-xl">Interface Data Faker</span>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li>
                    <span>
                        <img src="https://img.shields.io/github/stars/TheL4rios/interface-data-faker?style=social" alt="github stars"/>
                    </span>
                    <a href="https://github.com/TheL4rios/interface-data-faker" target="_blank">
                        Github
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>