<div class="grid grid-cols-2">
    <div class="col-span-1 h-screen">
        <ngx-monaco-editor class="code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div class="col-span-1 h-screen flex-1 overflow-y-auto">
        <app-header></app-header>
        <app-form [code]="code" (dataGenerated)="onChangeData($event)"></app-form>

        <div class="p-5">
            <ng-container *ngFor="let fake of fakeData; index as i">
                <app-json-viewer [fake]="fake"></app-json-viewer>
            </ng-container>
        </div>
    </div>
</div>
<lib-ng-toast></lib-ng-toast>